<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Hello World!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- VUE CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    
    <div id="app">
        
        <h1>{{ header }}</h1> 

        <p>{{message}}</p>

        <ol v-if='!seen' id="list">
            
            <li v-for="item in todoList">
                <input type="text" v-model="item.text" id="listInput">
                <!-- <ion-icon name="create" id="editButton" v-on:click="editItem(item)"></ion-icon>  -->
                <ion-icon name="close" id="deleteButton" @click="deleteItem(item)"></ion-icon>
            </li>

        </ol>
        
        <div v-if='!seen' id="addSomething">
            <!-- <label for="addSomething">Add or edit item: </label> <br> -->
            <input v-model="dynamicText" name="addItem" v-on:keydown.enter="addItem" placeholder="Add item:" id="listInput">
            <!-- <ion-icon name="checkmark"></ion-icon> -->
            <ion-icon name="add" id="addItem" @click="addItem"></ion-icon>
            <!-- <ion-icon name="close" id="deleteItem" @click="deleteLastItem"></ion-icon> -->
            <ion-icon name="trash" v-on:click="cleanList" id="cleanItems"></ion-icon>
        </div>

        <button v-if="seen" v-on:click="hideButton" id="start">Start!</button>

    </div>

    <!-- MAIN JS -->
    <script src="main.js"></script>

    <!-- IONICONS CDN -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>