body {
  min-height: 100vh;
  background-color: rgb(51, 48, 48);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.calcContainer {
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 25vw;
  margin: 5vw;
  padding: 2vh;
  background-color: rgb(17, 126, 126);
  border-radius: 30px;
}
div input[type="button"],
button {
  min-width: 30px;
  min-height: 30px;
  width: 2.5vw;
  height: 2.5vh;
  margin: 0.5vh;
}

#display {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
